.body{
    background-color: rgb(80, 80, 163);
}
*,*::after,*::before{
    margin:0;
    box-sizing: border-box;
    padding: 0;
}

nav,ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    
    

}
nav{
    background-color: black;
    color: white;
}

ul{
    list-style: none;
    gap: 1.5rem;
}

ul>li{
    cursor: pointer;
    transition: all 2s ease;
}

.underline{
    width: 0%;
    height: 2px;
    background-color: white;
    transition: all 0.1s ease-in;
    border-radius: 5px;
}

ul>li:hover .underline{
    width:100%
    
}

.top_header{
    width: 100%;
}

.left_section, .right_section{
    width:50%
}
.div1{
    
    height: 100px;
    width: 100%;
    background-color: black;
}
.div2{
    height: 100px;
    width: 100%;
    background-color: black;
   color: white;
}
.div1 img{
    margin-top:25px;
    margin-left:125px;
    height: 100px;
    width: 100px;
}
.cards{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card:hover{
    transform: translateY(5px);
    box-shadow: 0 0 30px rgba(33,33,33,.2);
}
.card{
    margin-top: 20px;
    border-radius: 20px;
}

