body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    background: rgb(129,221,216);
    background: linear-gradient(180deg, rgb(8, 178, 212) 0%, rgba(250,251,252,1) 50%, rgb(8,178,216,1) 100%);
    
}
.imgedu,.img{
    width: 50%;
    padding-top: 30px;
    height: auto;
    height: 100%;
    }
img{
    height: 100%;
    width: 100%;
}
.para{
    background-color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 0rem 0rem 1.3rem; 
    font-size: 20px;
    height: auto;   
    overflow: hidden;
    line-height: 1.5;
  
}


.abhi{
    height: auto;
    display: flex;
    padding: 1re;
}
button{
    padding: 1.2rem 2rem;
    width: auto;
    font-size: x-large;
    font-weight: bold;
    margin-top: 2rem;
    transition: all 0.2s ease;
     
}
.don{
    color: black;
     text-decoration: none;
}
button{
    border-radius: 15%;
}
.btn{
    padding-bottom: 150px;
   
}

/* .abhirev{
    display: flex;
    flex-direction: row-reverse;
    height: auto;
    margin: 0;
    padding: 0;
} */
.smDisplay{
    display: none;
}
.main{
    height: auto;
    width: 75vw;
    border: 10px solid rgb(53, 192, 227);
    border-radius: 5px;
    background-color: white;
    font-family: 'Kalam', cursive;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
padding-top: 150px;
}

button:hover{
    background-color: rgb(158, 202, 252);
    color: white;
    border: 2px solid black;
    border-radius: 25%;
}


@media(max-width: 800px) {
    .abhi{
        flex-wrap: wrap;
    }
    .abhirev{
        flex-wrap: wrap;
    }
    .img{
        width: 100%;
    }
    .para{
        width: 100%;
    }
}


*,*::after,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.lgDisplay{
    width:100vw;
    background-color:rgba(134, 134, 191, 0.532) ;
    display:flex;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: space-around;
    color:white
}

.lgList{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 30%;
    color: white;
    gap:0.5rem
}

.lgList li{
    cursor: pointer;
    transition: all 0.5s ease;
    padding: 0.5rem 1rem;
    border-radius: 10px;
}

.lgList li:hover{
    background-color: white;
    color:black;
}
.toggleBtn{
    display: none;
}
.smDisplay{
    display: none;
}

#hero{
    width: 100%;
    position: relative;
    background-color: green;
    height: 70vh;
    display: flex;
    align-items: center;
    padding-left: 4rem ;
    justify-content: flex-end;
}

.cont_main{
    width:40%;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(transparent,rgba(0, 0, 0, 0.811));
    width: 100%;
    transition: all 0.6s ease;
}

#hero:hover .overlay{
    width: 0%;
}

.btn{
    margin-top: 2rem;
    background-color: white;
    width: 20%;
    text-align: center;
    padding: 0.5rem 0;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.btn:hover{
    background-color: transparent;
    border: 2px solid white;
}

#about{
    background-color: bisque;
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.about_text{
    width: 40%;
}

.pic_bg{
    width: 450px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.559);
    transform: translate(-1rem,1rem);
    z-index: -1;
    position: absolute;
}
.img{
    width: 450px;
    height: 200px;
    position: relative;
    z-index: 1;
}
.img img{
    width: 100%;
    height: 100%;
}
footer{
    width:100%;
    padding: 1rem 3rem;
    text-align: center;
}
.navigations ul{
    list-style: none;
}

.navigations ul li:not(:nth-child(1)){
    margin-top: 1rem;
}

.footer_main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 3rem;
    padding: 1rem 2rem;
}

.socials{
    display: flex;
    gap:1rem;
}
.smDisplay{
    display: none;
}

@media screen and (max-width:600px) {
    .toggleBtn{
        display: block;
    }
    .lgList{
        display: none;
    }
    .lgDisplay{
        justify-content: space-between;
        background:none;
        align-items: center;
    }
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 6vh;
        background-color: rgb(127, 127, 156);
        transition: height 700ms ease-in;
    }
    .smDisplay{
        list-style: none;
        display: flex;
        opacity: 1%;
        flex-direction: column;
        gap: 0.5rem;
        transition: all 500ms ease-in 800ms;
        margin-top: 0.5rem;
        justify-content: center;
        align-items: center;
    }
}
/* Style the footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}