*,*::after,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}
.about_text{
    font: italic;
    font-size:x-large;
    font-weight: 95;
    font-family:aptos; 
}

.lgDisplay{
    width:100vw;
    background-color:rgba(153, 153, 165, 0.532) ;
    display:flex;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: space-around;
    color:white
}

.lgList{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 30%;
    color: white;
    gap:0.5rem
}

.lgList li a{
    cursor: pointer;
    transition: all 0.5s ease;
    padding: 0.5rem 1rem;
    border-radius: 10px;
}

.lgList li a:hover{
    background-color: white;
    color:black;
}
.toggleBtn{
    display: none;
}
.smDisplay{
    display: none;
}
.p{
    font-family:bahnschrift;
    font-size: 1.5rem;
    color:white;
    background-color:rgba(240, 193, 135, 0.7);
    font-weight: 800;
}
#hero{
    width: 100%;
    position: relative;
    /* background-color: green; */
    background-image: url("../front image/Picture1.jpg");
    background-size:cover ;
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
    display: flex;
    align-items: center;
    padding-left: 4rem ;
    justify-content: flex-end;
}
.foot{
    color: black;
    text-decoration: none;
    
}

.cont_main{
    width:40%;
}
.footer_main{
    display: flex;
   padding-left: 900px;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(transparent,rgba(0, 0, 0, 0.811));
    width: 100%;
    transition: all 0.6s ease;
}

#hero:hover .overlay{
    width: 0%;
}

.lgDisplay a img{
    width: 9rem;
}

.btn{
    margin-top: 2rem;
    background-color: rgb(205, 49, 49);
    width: 20%;
    text-align: center;
    padding: 0.5rem 0;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.btn:hover{
    background-color: transparent;
    border: 2px solid white;
}

#about{
    background-color: bisque;
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.about_text{
    width: 40%;
}

.pic_bg{
    width: 450px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.559);
    transform: translate(-1rem,1rem);
    z-index: -1;
    position: absolute;
}
.img{
    width: 450px;
    height: 200px;
    position: relative;
    z-index: 1;
}
.img img{
    width: 100%;
    height: 100%;
}
footer{
    width:100%;
    padding: 1rem 3rem;
    text-align: center;
}
.navigations ul{
    list-style: none;
}

.navigations ul li:not(:nth-child(1)){
    margin-top: 1rem;
}

.footer_main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 3rem;
    padding: 0.5rem 2rem;
}
.lgDisplay li a{
    text-decoration: none;
    color:white
}
.socials{
    display: flex;
    gap:1rem;
}

@media screen and (max-width:600px) {
    .toggleBtn{
        display: block;
    }
    .lgList{
        display: none;
    }
    .lgDisplay{
        justify-content: space-between;
        background:none;
        align-items: center;
    }
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 6vh;
        background-color: rgb(127, 127, 156);
        transition: height 700ms ease-in;
    }
    .smDisplay{
        list-style: none;
        display: flex;
        opacity: 1%;
        flex-direction: column;
        gap: 0.5rem;
        transition: all 500ms ease-in 800ms;
        margin-top: 0.5rem;
        justify-content: center;
        align-items: center;
    }
}